
html {
    font-family: "PT Sans", Libre-Baskerville, Roboto;
    font-size: 20px;
    color: white;
    }
    .main-content {
        position: relative;
        top: 5rem;
    }
    
    .center {
        text-align: center;
    }
    
    
    .logo {
        width: 20px;
        display: left;
    }
    
    body {
      background-color: seagreen;
    }
    
    ul {
      list-style-type: none;
    }
     
      header nav ul {
        display: flex;
      }
      
      nav li {
        padding-left: 3.5rem;
      }
    
    a {
      color: white;
     
    }
 
img {
  height: 200px;
  width: 200px;
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color:  rgb;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: rgb(164, 206, 171);
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.feature .content {
  padding: 2.5rem 0;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 895px) {
  #features-section {
    padding: 1rem;
  }

  .feature {
    margin: 0px .5rem;
    padding: 1000rem;
    font-size: 100px;
  }
.h1 {
  font-size: 300rem;
    line-height: 1.3;
}
  .feature h2 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 600px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .feature .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}